.Todo {
  font-size: 1.2rem;
  font-family: -apple-system;
  cursor: pointer;
  padding: 1rem 0;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Todo li {
  display: inline-block;
  margin-left: 1rem;
  text-transform: capitalize;
}

.Todo i {
  color: #3459ff;
  transition: color 0.1s ease;
}

.Todo i:hover {
  color: #002fff;
}

.Todo form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Todo form button {
  font-family: inherit;
  font-size: 0.8rem;
  border: none;
  outline: none;
  padding: 0.2rem 0.8rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3459ff;
  color: #fbfbfc;
  transition: background-color 0.2s ease;
}

.Todo form button:hover {
  background-color: #002fff;
}

.Todo input {
  padding: 0;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: #444;
}

.completed {
  color: rgb(156, 156, 156);
  text-decoration: line-through;
}

.disabled {
  color: #d2daff !important;
}
