.TodoForm {
  border-bottom: 1px solid #c0ccff;
  padding-bottom: 2rem;
}

.TodoForm input {
  font-family: inherit;
  background-color: #f3f9ff;
  border: none;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  outline: none;
  margin-right: 1rem;
  width: 30%;
  border: 1px solid #3459ff;
  font-weight: 200;
  color: #444;
}

.TodoForm button {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3459ff;
  color: #fbfbfc;
  font-weight: 200;
  transition: background-color 0.2s ease;
}

.TodoForm button:hover {
  background-color: #002fff;
}
